<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <div class=" m-auto  pt-[25px]  flex">
            <!-- Biz xaqimizda -->
            <div class="w-[410px] h-[211px] ">
                <header class="w-[310px] h-[35px]">
                    <span class="mb-[16px] w-[88px] h-[19px] text-[1F2026] text-[14px] font-[500]">Biz haqimizda</span>
                </header>

                <h1> <a class="w-[310px] h-[16px] text-[12px] text-[#8b8e99] font-[400]
" href="https://uzum.uz/uz/about/delivery-points">Topshirish punkitlari</a></h1>

                <h2><a class="w-[310px] h-[16px] text-[12px] text-[#8b8e99] font-[400]"
                        href="https://uzum.uz/uz/about/careers">Vakansiyalar</a></h2>

            </div>
            <!-- Foydalanuvchilarga -->
            <div class="w-[410px] h-[211px] ">
                <header class="w-[310px] h-[35px]">
                    <span
                        class="mb-[16px] w-[88px] h-[19px] text-[1F2026] text-[14px] font-[500]">Foydalanuvchilarga</span>
                </header>

                <h1> <a class="w-[310px] h-[16px] text-[12px] text-[#8b8e99] font-[400]
" href="https://uzum.uz/#contacts">Biz bilan bo'g'lanish</a></h1>

                <h2><a class="w-[310px] h-[16px] text-[12px] text-[#8b8e99] font-[400]"
                        href="https://uzum.uz/uz/faq">Savol-Javob</a></h2>
            </div>
            <!-- Tadbirkorlarga -->
            <div class="w-[410px] h-[211px] ">
                <header class="w-[310px] h-[35px]">
                    <span class="mb-[16px] w-[88px] h-[19px] text-[1F2026] text-[14px] font-[500]">Tadbirkorlarga</span>
                </header>

                <h1> <a class="w-[310px] h-[16px] text-[12px] text-[#8b8e99] font-[400]
" href="https://uzum.uz/#contacts">Uzumda soting </a></h1>

                <h2><a class="w-[310px] h-[16px] text-[12px] text-[#8b8e99] font-[400]"
                        href="https://uzum.uz/uz/faq">Sotuvchi kabinetiga kirish</a></h2>
                <h3><a class="w-[310px] h-[16px] text-[12px] text-[#8b8e99] font-[400]
" href="">Topshirish punkitini ochish</a></h3>
            </div>
            <!-- ilovani yuklab olish -->
            <div class="w-[310px] h-[211px] ">
                <header class="w-[310px] h-[35px]">
                    <span class="mb-[16px] text-[1F2026] text-[14px] font-[500] w-[119px] h-[19px]">ILovani yuklab
                        olish</span>
                </header>
                <div class="flex">

                    <h1><a class="w-[86px] h-[24px] text-[12px] flex text-[#8b8e99] font-[400] mr-[24px] items-center"
                            href="https://apps.apple.com/ru/app/uzum-market-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD-%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%D0%BF%D0%BB%D0%B5%D0%B9%D1%81/id1640483056">
                            <img width="17" height="21" src="https://img.icons8.com/ios-filled/50/mac-os.png"
                                alt="mac-os" />
                            </svg> <span class="text-[#1d2026] ml-[5px] text-[12.8px]">App Store</span></a></h1>


                    <h2><a class="w-[102px] h-[24px] text-[12px] flex text-[#8b8e99] font-[400] mr-[24px] items-center"
                            href="https://play.google.com/store/apps/details?id=uz.uzum.app&pli=1">
                            <img width="17" height="21"
                                src="https://img.icons8.com/fluency/48/google-play-store-new.png"
                                alt="google-play-store-new" />
                            </svg> <span class="text-[#1d2026] ml-[5px] text-[12.8px]">Google Play</span></a></h2>
                </div>
                <!-- Ijtimoiy tarmoqlar -->
                <div class="w-[310px] h-[73px] mt-[32px]">
                    <h1 class="w-[175px] h-[18px] text-[#1f2026] text-[14px] font-[500]">Uzum ijtimoiy tarmoqlarda</h1>
                    <div class="w-[180px] h-[55px] flex items-center">
                        <!-- instagramm -->
                        <a href="https://www.instagram.com/uzum.market">
                            <img width="36" height="36" src="https://img.icons8.com/3d-fluency/94/instagram-new.png"
                                alt="instagram-new" /></a>
                        <!-- telegram -->
                        <a href="https://t.me/uzum_market">
                            <img width="36" height="36"
                                src="https://img.icons8.com/external-flat-icons-inmotus-design/67/external-blue-telegram-flat-icons-inmotus-design.png"
                                alt="external-blue-telegram-flat-icons-inmotus-design" />
                        </a>

                        <!-- Facebook -->
                        <a href="https://www.facebook.com/uzummarket">
                            <img width="36" height="36" src="https://img.icons8.com/color/48/facebook-new.png"
                                alt="facebook-new" />
                        </a>

                        <!-- youtube -->
                        <a href="https://www.youtube.com/channel/UCY3nNF2MUDKHrELA6LzbnHA">
                            <img width="36" height="36" src="https://img.icons8.com/3d-fluency/94/youtube-logo.png"
                                alt="youtube-logo" />
                        </a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

</html>